    /* Large devices (laptops/desktops, 1023px and up) */
    
    @media only screen and (min-width: 1023px) {
        nav #menu {
            display: none;
        }
        body #logo h1 {
            font-family: 'Monsieur La Doulaise', cursive;
            font-size: 3em;
            margin-bottom: -0.2em;
        }
        body #logo h2 {
            font-size: 1.3em;
            border-bottom: .1em solid #22333b;
        }
        .mainHeader nav ul.hide {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .mainHeader nav ul li {
            padding: 0px 30px 10px 30px;
            font-size: 1.2em;
        }
        .homeTemple {
            display: flex;
            flex-direction: row;
            width: 700px;
            margin: 0 auto;
        }
        .hTcontent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /*****************************************************************/
        /*Style Reservation*/
        form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        form fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            padding-top: 50px;
        }
        form label {
            display: flex;
            flex-direction: row;
            padding: 15px;
            justify-content: flex-end;
        }
        form label>input {
            flex: 1;
        }
        /*****************************************************************/
        /*Services*/
        .serviceItems {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .serviceItems figcaption {
            width: 298px;
        }
        .amenities {
            font-size: 1.5em;
        }
        /*****************************************************************/
        /*Reception Venue*/
        .venueSection {
            display: flex;
            flex-direction: row;
            width: 900px;
            margin: 0 auto;
            text-align: left;
        }
        .venueSection p {
            font-size: 1.5em;
        }
        /*****************************************************************/
        /*Contact*/
        .mapInfo {
            display: flex;
            flex-direction: row;
            width: 900px;
            margin: 0 auto;
            flex-wrap: nowrap;
        }
        .contactInfo {
            padding: 30px;
        }
        .contactInfo address {
            color: #22333b;
            font-size: 1.5em;
        }
    }