    /* Large devices (laptops/desktops, 1023px and up) */
    
    @media only screen and (min-width: 1025px) {
        body #logo h1 {
            font-family: 'Monsieur La Doulaise', cursive;
            font-size: 4em;
            margin-bottom: -0.2em;
        }
    }