/* Media Query for medium + screens */

@media only screen and (min-width: 426px) {
    /*****************************************************************/
    /*Style Reservation*/
    form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    form fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        padding-top: 50px;
    }
    form label {
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: flex-end;
    }
    form label>input {
        flex: 1;
    }
    /*****************************************************************/
    /*Services*/
    .serviceItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .serviceItems figcaption {
        width: 298px;
    }
    .amenities {
        font-size: 1.2em;
    }
    .venueSection p {
        font-size: 1.5em;
    }
}

.mapInfo {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
}

.contactInfo {
    padding: 30px;
}

.contactInfo address {
    color: #22333b;
    font-size: 1.2em;
}


}