body {
    font-family: 'Abhaya Libre', serif;
    min-width: 320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------------------------------------------------------------------------------------*/


/*Style Header and Logo*/

body #logo {
    text-align: center;
}

body #logo h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 2em;
    margin-bottom: -0.2em;
}

body #logo h2 {
    font-size: 1em;
    border-bottom: .1em solid #22333b;
}

.mainHeader {
    background-color: #f2f4f3;
    padding: 0.5em;
    color: #22333b;
    text-align: center;
}


/*---------------------------------------------------------------------------------------------------*/


/*Style Navigation*/


/* Menu button */

.mainHeader nav button {
    background-color: #f2f4f3;
    border: 1px solid #f2f4f3;
    font-family: 'Abhaya Libre', serif;
    font-size: 125%;
    color: #22333b;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    outline: none;
    list-style-type: none;
    text-align: center;
}

.mainHeader nav button:hover {
    color: #476a6f;
}

.mainNav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mainHeader ul.hide {
    display: none;
}

.mainHeader nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mainHeader nav ul li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.mainHeader nav ul li a {
    text-decoration: none;
    color: #22333b;
}

.mainHeader nav ul li .current {
    font-size: 115%;
    color: #476a6f;
}


/* unvisited link */

.mainHeader a:link {
    color: #22333b;
}


/* visited link */

.mainHeader a:visited {
    color: #22333b;
}


/* mouse over link */

.mainHeader a:hover {
    color: #476a6f;
}


/*Drop Down Menu*/

li a:hover,
.dropdown:hover {
    background-color: #f2f4f3;
    transition: 0.5s;
}

.dropdown {
    float: left;
    overflow: hidden;
}


/* drop-down box format*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f4f3;
    min-width: 160px;
}


/* drop-down text format*/

.dropdown-content a {
    float: none;
    color: #22333b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* drop-down hover color*/

.dropdown-content a:hover {
    color: #476a6f;
    transition: 0.3s;
}


/* actavates drop-down when hovering */

.dropdown:hover .dropdown-content {
    display: block;
}


/*Style body of Home Page*/

#homeHero {
    width: 100%;
}

.homeTemple {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.homeTemple img {
    padding-right: 20px;
}

#homeRes {
    width: 160px;
    background-color: #22333b;
    color: #f2f4f3;
    border: 1px solid #22333b;
    padding: 1em;
    border-radius: 5px;
}

#homeRes:hover {
    background-color: #476a6f;
    border-color: #476a6f;
}


/*****************************************************************/


/*Style Reservation*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding-top: 50px;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}

form input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}

form .submit {
    width: 160px;
    height: 50px;
    background-color: #22333b;
    color: #f2f4f3;
    border: 1px solid #22333b;
    padding: 1em;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

form .submit:hover {
    background-color: #476a6f;
    border-color: #476a6f;
}


/*Style Thanks*/

.thx {
    text-align: center;
    color: #22333b;
}

.thx a {
    text-decoration: none;
    color: #22333b;
}


/*---------------------------------------------------------------------------------------------------*/


/*Services*/

.serviceItems {
    padding-top: 30px;
}

.serviceItems figcaption a {
    text-decoration: none;
    color: #22333b;
}

.serviceItems figure {
    background-color: #f2f4f3;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

.serviceItems figure:hover {
    box-shadow: 2px 2px 5px #22333b;
}

.amenities {
    font-size: 1em;
}


/*****************************************************************/


/*Reception Venue*/

.venueItems {
    padding: 20px;
}

.venueSection {
    padding: 20px;
    background-color: #22333b;
    color: #f2f4f3;
    text-align: center;
}

.venueSection img {
    padding-right: 20px;
}

.venueSection p {
    font-size: 1em;
}


/*****************************************************************/


/*Contact*/

.contactUs {
    margin-top: 20px;
    background-color: #476a6f;
    padding: 20px 50px 10px 0px;
    color: #f2f4f3;
    align-items: center;
}

iframe {
    border: none;
}

.mapInfo {
    padding-top: 20px;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contactInfo a {
    color: #22333b;
    font-size: 1em;
}

.contactInfo address {
    color: #22333b;
    font-size: 1em;
}

#q {
    text-align: center;
    margin-bottom: -20px;
}

#comments {
    height: 100px;
}

#contactSubmit:hover {
    background-color: #f2f4f3;
    color: #22333b;
}


/*---------------------------------------------------------------------------------------------------*/


/*Style footer*/

footer {
    color: #f2f4f3;
    width: 100%;
    text-align: center;
    background-color: #22333b;
    padding: 0.5em;
    margin-top: 5em;
}

footer a {
    text-decoration: none;
    color: #f2f4f3;
}