body {
    font-family: 'Abhaya Libre', serif;
}


/*---------------------------------------------------------------------------------------------------*/


/*Style Header and Logo*/

body #logo {
    text-align: center;
}

body #logo h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 2em;
    margin-bottom: -0.2em;
}

body #logo h2 {
    font-size: 1em;
    border-bottom: solid #22333b .1em;
}

.mainHeader {
    background-color: #f2f4f3;
    padding: 0.5em;
    color: #22333b;
}


/*---------------------------------------------------------------------------------------------------*/


/*Style Navigation*/

.mainNav {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.mainHeader nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mainHeader nav ul li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.mainHeader nav ul li a {
    text-decoration: none;
    color: #22333b;
}

.mainHeader nav ul li .current {
    font-size: 115%;
    color: #476a6f;
}