body {
    font-family: 'Abhaya Libre', serif;
    min-width: 320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------------------------------------------------------------------------------------*/


/*Style Header and Logo*/

body #logo {
    text-align: center;
}

body #logo h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 2em;
    margin-bottom: -0.2em;
}

body #logo h2 {
    font-size: 1em;
    border-bottom: .1em solid #22333b;
}

.mainHeader {
    background-color: #f2f4f3;
    padding: 0.5em;
    color: #22333b;
    text-align: center;
}


/*---------------------------------------------------------------------------------------------------*/


/*Style Navigation*/


/* Menu button */

.mainHeader nav button {
    background-color: #f2f4f3;
    border: 1px solid #f2f2f2;
    font-family: 'Abhaya Libre', serif;
    font-size: 125%;
    color: #22333b;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    outline: none;
    list-style-type: none;
    text-align: center;
}

.mainHeader nav button:hover {
    color: #476a6f;
}

.mainNav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mainHeader ul.hide {
    display: none;
}

.mainHeader nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mainHeader nav ul li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.mainHeader nav ul li a {
    text-decoration: none;
    color: #22333b;
}

.mainHeader nav ul li .current {
    font-size: 115%;
    color: #476a6f;
}


/* unvisited link */

.mainHeader a:link {
    color: #22333b;
}


/* visited link */

.mainHeader a:visited {
    color: #22333b;
}


/* mouse over link */

.mainHeader a:hover {
    color: #476a6f;
}