/*set page to a mobile size and center content*/

body {
    min-width: 320px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kodchasan', sans-serif;
    color: #78b638;
}


/*Style header*/

header {
    padding-top: 1.25em;
    background-color: #2e2d2c;
    text-align: center;
}


/*Change padding so that the logo lines up with the title*/

header img {
    padding-top: -1.25em;
    width: 2.5em;
    float: left;
}

.logo {
    width: 20.800em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header nav {
    width: 100%;
    background-color: #78b638;
}


/*set margin and padding to 0 to help center the nav. Get rid of default styling.*/

header nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    position: relative;
    display: inline-block;
}

header nav ul li {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

nav .current {
    text-align: center;
    background-color: #2e2d2c;
    width: 100%;
    padding-top: .625em;
    padding-bottom: .625em;
}


/*start styling main*/


/*Make sure the town image extends the entire width of the page*/

#town-pic {
    width: 100%;
}

main h1 {
    text-align: center;
}


/*Style Weather Summary box*/


/*set position to absolute in order to overlap with town pick. Override heading default color*/

.weatherNow {
    position: absolute;
    top: 500px;
    left: 50px;
    padding: 5px;
    background-color: #78b638;
    text-align: center;
    width: 12.5em;
    opacity: .9;
}

.weatherNow h3 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    color: white;
}


/*color the current stats yellow*/

.weatherNow span {
    color: yellow;
}


/*style article*/

article {
    margin-top: 10em;
    color: black;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    background-color: lightgray;
}


/*make the image extend the full width of the parent element-the article.*/

article img {
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}